<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17421133724">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-17421133724');
</script>
  <meta charset="UTF-8">
  <title>Our Agents - Great Mar-cy’s & Sons Limited</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/agent.css') }}?v=2">
</head>
<body>

  <header class="agents-hero">
    <h1>Meet Our Agents</h1>
    <p>Trusted professionals dedicated to guiding your real estate journey.</p>
  </header>

  <section class="agent-section">
    <div class="agent-card">
      <img src="{{ url_for('static', filename='image/pic9.jpg') }}"?v=2 alt="Agent 1">
      <h3>Paul Abimbola</h3>
      <p>Lead Property Consultant</p>
      <p>Email: info@greatmarcysonslimited.com</p>
      <p>Phone:  +234 9139070404</p>
    </div>

    <div class="agent-card">
      <img src="{{ url_for('static', filename='image/pic10.jpg') }}?v=2" alt="Agent 2">
      <h3>Wasiu Lawal</h3>
      <p>Land Sales Consultant</p>
      <p>Email: info@greatmarcysonslimited.com</p>
      <p>Phone: +234 9038360378</p>
    </div>

    <div class="agent-card">
      <img src="{{ url_for('static', filename='image/pic8.jpg') }}?v=2" alt="Agent 3">
      <h3>Bimpe Akinsulie</h3>
      <p>Client Relations Manager</p>
      <p>Email: info@greatmarcysonslimited.com</p>
      <p>Phone: +234 8038903854</p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 Great Mar-cy’s & Sons Limited. All rights reserved.</p>
      <p>Olooru, Old Jebba Road Kulende Area Sango Ilorin, Kwara State</p>
      <p>Email: info@greatmarcysonslimited.com| Phone: +234 9139070404</p>
    </div>
  </footer>

</body>
</html>
